<div class="main-container">
  <div class="banner card md-12">
    <div></div>
    <div class="main-banner">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img class="d-block w-100" src="assets/images/banner-1.jpg" style="height:50%;" alt="First slide">
        </ng-template>
        <ng-template carouselSlide>
          <img class="d-block w-100" src="assets/images/banner-11.jpg" style="height:50%;" alt="Second slide">
        </ng-template>
        <ng-template carouselSlide>
          <img class="d-block w-100" src="assets/images/banner9.jpg" style="height:50%;" alt="Third slide">
        </ng-template>
      </owl-carousel-o>
    </div>
    <div></div>
  </div>


  <!-- <section id="card">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-3">
        <div class="card">
          <img src="assets/images/shri-baghel-ji.jpg" class="img-fluid rounded-start" alt="image">
          <div class="card-body">
            <h5 class="card-title">Shri Bhupesh Baghel</h5>
            <br>
            <p class="card-text">Hon'ble Chief Minister, <br>Government of Chhattisgarh</p>
          
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img src="assets/images/shri-umesh-patel-ji.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shri Umesh Nandkumar Patel</h5>
            <p class="card-text">Hon'ble Minister of Higher Education, Government of Chhattisgarh</p>
           
          </div>
        </div>
      </div>

      <div class="col-md-3"></div>
    </div>

  </section> -->

  <!-- <div class="srow content-body">
    <div class="welcome-message module">
      <div class="row">
        <div class="medium-6 small-12 columns">
          <img src="assets/images/thumb-6.jpg" alt="Education Background">
        </div>
        <div class="medium-6 small-12 columns">
          <h2>Welcome to <span>Higher Education</span></h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos mollitia facere qui sapiente id,
            ullam non aut voluptatibus nisi tempora pariatur officiis soluta fugiat rerum unde suscipit. Veritatis,
            ducimus commodi.</p>
          <a href="#" class="primary bordered-dark button" title="Read more">Read more</a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/images/indravati-bhawan.jpg" class="img-fluid" alt="Education Background">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>WELCOME TO <span style="color: #ffbb2c;">HIGHER EDUCATION</span></h3>
          <p class="fst-italic">
            छत्तीसगढ़ राज्य में उच्च शिक्षा विभाग उत्कृष्टता को केन्द्र में रखकर, विश्वविद्यालयों एवं महाविद्यालयों का
            विस्तार करते हुये उच्च शिक्षा की सुविधा अधिकाधिक युवाओं तक पहुँचाने के लिये दृढप्रतिज्ञ है।
          </p>
          <!-- <ul>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
            </li>
          </ul> -->
          <p class="fst-italic">
            इस उद्देश्य की पूर्ति के लिये 9 शासकीय विश्वविद्यालय, 14 निजी विश्वविद्यालय, 253 शासकीय महाविद्यालय, 12
            अनुदान प्राप्त अशासकीय महाविद्यालय तथा 245 अनुदान अप्राप्त अशासकीय महाविद्यालयों के माध्यम से निरंतर
            प्रयासरत है।
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">
      <h2 style="text-align: center; color: beige;">FIGURE TELL THE STORY</h2>
      <br>
      <div class="row counters">

        <!-- Card 1 -->
        <div class="col-xl-4 col-lg-6">
          <div class="card">
            <div class="card-body card-type-3">
              <div class="row">
                <div class="col">
                  <h1 class="text-muted mb-0"> <span data-purecounter-start="0" data-purecounter-end="9"
                      data-purecounter-duration="1" class="purecounter">9</span></h1>
                </div>
                <div class="col-auto">
                  <div class="card-circle l-bg-purple text-white">
                    <i class="fas fa-university"></i>
                    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="description"></mat-icon> -->
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-lg-3 col-6 text-center">
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-nowrap">Universities</span>
                </p>
              </div>

            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-xl-4 col-lg-6">
          <div class="card">
            <div class="card-body card-type-3">
              <div class="row">
                <div class="col">
                  <h1 class="text-muted mb-0"> <span data-purecounter-start="0" data-purecounter-end="9"
                      data-purecounter-duration="1" class="purecounter">554</span></h1>
                </div>
                <div class="col-auto">
                  <div class="card-circle l-bg-purple text-white">
                    <i class="fas fa-building"></i>
                    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="description"></mat-icon> -->
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-lg-3 col-6 text-center">
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-nowrap">Institutes</span>
                </p>
              </div>

            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-xl-4 col-lg-6">
          <div class="card">
            <div class="card-body card-type-3">
              <div class="row">
                <div class="col">
                  <h1 class="text-muted mb-0"> <span data-purecounter-start="0" data-purecounter-end="9"
                      data-purecounter-duration="1" class="purecounter">3431</span></h1>
                </div>
                <div class="col-auto">
                  <div class="card-circle l-bg-purple text-white">
                    <i class="fas fa-restroom"></i>
                    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="description"></mat-icon> -->
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-lg-3 col-6 text-center">
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-nowrap">Faculties</span>
                </p>
              </div>

            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <!-- <div class="col-xl-3 col-lg-6">
          <div class="card">
            <div class="card-body card-type-3">
              <div class="row">
                <div class="col">
                  <h1 class="text-muted mb-0"> <span data-purecounter-start="0" data-purecounter-end="9"
                      data-purecounter-duration="1" class="purecounter">0</span></h1>
                </div>
                <div class="col-auto">
                  <div class="card-circle l-bg-purple text-white">
                    <i class="fas fa male"></i>
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="description"></mat-icon>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-lg-3 col-6 text-center">
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-nowrap">Students</span>
                </p>
              </div>

            </div>
          </div>
        </div> -->



        <!-- <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="554" data-purecounter-duration="1"
            class="purecounter">0</span>
          <p>Institutes</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="3431" data-purecounter-duration="1"
            class="purecounter">0</span>
          <p>Faculties</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="41303" data-purecounter-duration="1"
            class="purecounter">0</span>
          <p>Students</p>
        </div> -->

      </div>

    </div>
  </section><!-- End Counts Section -->
  <br>
  <br>

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-header" style="text-align: center;">
        <h3>OUR PARTENERS</h3>
        <p>We are proudly partner with following Companies</p>
      </div>
      <hr>
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-6 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-store-line" style="color: #ffbb2c;"></i> -->
            <h3><a routerLink="/home"><img alt="my-gov" src="assets/images/my-gov.jpg" class="thumbnail"></a></h3>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i> -->
            <h3><a routerLink="/home"><img alt="jeevan-pramaan" src="assets/images/jeevan-pramaan.jpg" class="thumbnail"></a></h3>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-calendar-todo-line" style="color: #e80368;"></i> -->
            <h3><a routerLink="/home"><img alt="india-gov-in" src="assets/images/india-gov-in.jpg" class="thumbnail"></a></h3>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-paint-brush-line" style="color: #e361ff;"></i> -->
            <h3><a routerLink="/home"><img alt="eoffice" src="assets/images/eoffice.jpg" class="thumbnail"></a></h3>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="icon-box">
            <!-- <i class="ri-database-2-line" style="color: #47aeff;"></i> -->
            <h3><a routerLink="/home"><img alt="digital-india" src="assets/images/digital-india.jpg" class="thumbnail"></a></h3>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3><a routerLink="/home"><img alt="arichay" src="assets/images/arichay.jpg" class="thumbnail"></a></h3>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3><a href="">Midela Teren</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3><a href="">Pira Neve</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3><a href="">Dirada Pack</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3><a href="">Moton Ideal</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5828;"></i>
            <h3><a href="">Verdo Park</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3><a href="">Flavor Nivelanda</a></h3>
          </div>
        </div> -->
      </div>

    </div>
  </section><!-- End Features Section -->
</div>