<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container" style="text-align: center;">
      <h2 >Contact Us</h2>
      <p>हमसे संपर्क करने की जानकारी नीचे दी गयी है </p>
    </div>
  </div><!-- End Breadcrumbs -->
  <hr>

  <section id="contact" class="contact">
    <div data-aos="fade-up">
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14883.03561044738!2d81.79288896616211!3d21.161991002765383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c695f3d7d5d1%3A0xe23796cb5bbee93f!2sIndravati%20Bhawan!5e0!3m2!1sen!2sin!4v1687155635110!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
      <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14883.03561044738!2d81.79288896616211!3d21.161991002765383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c695f3d7d5d1%3A0xe23796cb5bbee93f!2sIndravati%20Bhawan!5e0!3m2!1sen!2sin!4v1687155635110!5m2!1sen!2sin"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <div class="container" data-aos="fade-up">
      <!-- <div class="card mb-3">
            <img class="card-img-top" src="assets/images/indrawati-bhavan_1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div> -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title"><strong><u>उच्च शिक्षा विभाग</u></strong></h5>
              <br>
              <p class="card-text"><strong>पता : -</strong> प्रथम तल , महानदी भवन ,<br>
                नवा रायपुर अटल नगर ,
                <br>
                छ.ग. , 492002 <br><br>
                <strong>फ़ोन : </strong> 0771-2510288 , 2510836<br>
                <strong>ईमेल : </strong> <span style="text-transform: lowercase;"> higher-education@cg.gov.in</span><br>
              </p>
            </div>
            <div class="col-6">
              <h5 class="card-title"><strong><u>उच्च शिक्षा संचालनालय</u></strong></h5>
              <br>
              <p class="card-text"><strong>पता : -</strong> ब्लॉक - 03 ,<br> तृतीय तल ,<br>
                इन्द्रावती भवन ,
                नवा रायपुर अटल नगर ,
                <br>
                छ.ग. , 492002 <br><br>
                <strong>फ़ोन : </strong>0771-2263411 ,  0771-2263412<br>
                <strong>ईमेल : </strong> <span style="text-transform: lowercase;"> che-higheredu.cg@gov.in</span><br>
              </p>
            </div>
          </div>

        </div>
        <img class="card-img-bottom" src="assets/images/indrawati-bhavan_1.png" alt="Card image cap">
      </div>
    </div>
  </section><!-- End Contact Section -->
</main>