<div class="loader"></div>
<header class="srow clrleft">
  <div class="srow clrleft login_head">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-4">
          <div class="srow clrleft lg_logo">
            <figure>
              <img src="assets/images/government-of-chhattisgarh.png" alt="Government of Chhattisgarh"
                class="img-responsive" />
            </figure>
            <div class="row">
              <!-- <dfn>
                <a href="#" title="Attandance">Leave Management System</a>
              </dfn> -->
              <a routerLink="/home" title="Attandance">Leave Management System</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-4">
          <div class="srow clrleft text-right" style="color:#fff;">
            <!-- <h6 >Content here</h6> -->
            <span>
              <small>छत्तीसगढ़ शासन || </small>
              <small> GOVERNMENT OF CHHATTISGARH</small>
            </span>
            <br>
            <hr>
            <span>
              <small>उच्च शिक्षा || </small>
              <small> HIGHER EDUCATION</small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="srow clrleft lm_navigation">
    <div class="container">
      <div id="navigation" class="navigation navigation-landscape">
        <div class="nav-header">
          <div class="nav-toggle"></div>
        </div>
        <div class="nav-menus-wrapper" style="transition-property: none;">
          <ul class="nav-menu">
            <li class="active"><a routerLink="home" title="Home">Home</a></li>
            <li><a routerLink="about" title="About">About</a></li>
            <!-- <li>
              <a href="JavaScript:Void(0);" title="Our Services">Report<span class="submenu-indicator"></span></a>
              <ul class="nav-dropdown nav-submenu">
                <li>
                  <a href="JavaScript:Void(0);" title="Teaching">Teaching<span class="submenu-indicator"></span></a>
                  <ul class="nav-dropdown nav-submenu">
                    <li><a href="#" title="Student">Student</a></li>
                    <li><a href="#" title="Subject Syllabus">Subject Syllabus</a></li>
                  </ul>
                </li>
                <li><a href="TeacherDetail.aspx" title="Teacher Detail">Teacher Detail</a></li>
              </ul>
            </li> -->
            <li>
              <a routerLink="contact" title="Contact">Contact</a>
            </li>
            <li><a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#registernow" routerLink="login"
                title="Register">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>