<footer id="footer" class="main-footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>
                        उच्च शिक्षा विभाग</h3>
                    <p>
                        प्रथम तल , <br>
                        महानदी भवन , नवा रायपुर अटल नगर , छ.ग.<br>
                        492002 <br><br>
                          <strong>Phone : </strong> 0771-2510288 , 2510836<br>
                          <strong>Email : </strong> <span style="text-transform: lowercase;"> higher-education@cg.gov.in</span><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>
                        उच्च शिक्षा संचालनालय</h3>
                    <p>
                        ब्लॉक - 03 , तृतीय तल ,   <br>
                        इन्द्रावती भवन , नवा रायपुर अटल नगर , छ.ग.<br>
                        492002 <br><br>
                        <strong>Phone : </strong> 0771-2263411 ,  0771-2263412<br>
                        <strong>Email : </strong><span style="text-transform: lowercase;"> che-higheredu.cg@gov.in</span><br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Contact us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/login">Login</a></li>
                        <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
                    </ul>
                </div>

                <!-- <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div> -->

                <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Join Our Newsletter</h4>
              <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>
            </div> -->

            </div>
            <div class="footer-left">
                Copyright &copy; 2023
                <div class="bullet"></div>
                Attendance
            </div>
            <div class="footer-right">
                Design By
                <a href="#">
                    <img src="assets/images/NIC-logo.png" style="width: 60px;" />
                </a>
            </div>
        </div>

       
    </div>


    
</footer>