<div class="section-header">
    <h1>स्टेट एडमिन प्रोफाइल </h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="">अवकाश</a></div>
        <div class="breadcrumb-item">स्टेट एडमिन प्रोफाइल</div>
    </div>
</div>

<section style="background-color: #497aaa; border-radius: 8px;">
    <div class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card-body text-center">
                    <img src="assets/images/government-of-chhattisgarh.png" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 136px;">
                    <!-- <h5 class="my-3">ghnn</h5>
                    <p class="text-muted mb-1">शिक्षक कोड : </p>
                    <p class="text-muted mb-4">वर्तमान पदस्थापना तिथि :- 
                    </p>
                    <p class="text-muted mb-4">प्रथम नियुक्ति :-</p> -->
                </div>
            </div> 
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"><b>वर्तमान पद</b></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">स्टेट एडमिन </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"><b>कार्यरत स्थिति </b></p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Working</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>